body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  // navbar
  header{
    height: 70px;
    background: #849121;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  nav{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
  }
  .navlink{
    text-decoration: none;
    color: inherit;
    padding: 10px;
    width: 80px;
    background-color: red;
    text-align: center;
  }
  
  
  // page1
  #headerPage1{
    height: 100px;
    background-color: rgb(171, 155, 155);
    display: flex;
    justify-content: space-evenly;
  }
  
   #topButton{
    margin-left: 20px;
    padding: 7px;
    border: 0;
    background-color: blue;
    color: white;
   }
  #boxSection{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  }
   #centerBox{
    width: 60%;
    min-height: 100px;
    height: fit-content;
    border: 2px solid black;
  
   }
   .task{
    width: 100%;
    height:100px ;
    background-color: gray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
   }
   .task p{
    width:50%
   }
   .green{
    border: 1px solid white;
    background-color: green;
    height: 40%;
    width: 15%;
   }
   .red{
    border: 1px solid white;;
    background-color: red;
    height: 40%;
    width: 15%;
   }
   .modify{
    border: 1px solid white;
    background-color: yellow;
    height: 40%;
    width: 15%;
   }
   .greenify{
    background-color: green;
   }
   .hidden{
    display: none;
   }